
.*/APIExternalProducer.js
.*/extended_runnable_file.html
.*/extended_runnable_file.html
.*/fioriHtmlRunner.html
.*/mock_preview_sapui5.html
/dist
/mta_archives/
/node_modules
/webapp/visual_ext_index.html
APIExternalProducer.js
AppVariant_index.html
AppVariantPreviewPayload.zip
changes_preview.js
extended_runnable_file.html
fioriHtmlRunner.html
mergedManifestDescriptor.json
mock_preview_sapui5.html
sap-ui-cachebuster-info.json
UIAdaptation_index.html
visual_ext_index.html